@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row ps-3 navbar navbar-light">
        <a class="navbar-brand" href="">Hackaton</a>
    </div>

    @Body
</div>
